version: '3.8'

services:
  php:
    container_name: exportable_entity_php
    build:
      context: ./.docker/php
    volumes:
      - ./.docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - ./:/app/exportable-entity-bundle
    user: "${UID}:${GID}"
    command: tail -f /dev/null
